[core]
port=1181
interface=0.0.0.0
zones=wibble.foo.org

[defaults]
interval=5
timeout=1
priority=1
weight=1

[wibble.foo.org]
mname=wibble.foo.org
rname=hostmaster.foo.org
serial=1
refresh=5s
retry=5s
expire=5s
minimum=5s
rrs=rr-wibble1 rr-wibble2

[rr-wibble1]
name=rr
target=1.2.3.4
port=80

[rr-wibble2]
name=rr
target=5.6.7.8
port=80
